/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  gap: 40px;
  background-image: var(--main-cover-image-link);
  background-repeat: no-repeat;
  background-position: center;
  background-size:  cover;
  background-color: var(--main-bc-color);
  background-attachment: fixed;
}

/*------------------------common------------------------*/

.decorated-corners::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  justify-self: end;
  border-right: 1px solid var(--corners-color);
  border-top: 1px solid var(--corners-color);
}

.decorated-corners::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  align-self: end;
  border-left: 1px solid var(--corners-color);
  border-bottom: 1px solid var(--corners-color);
}

.title-decor {
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23.4px;
  color: var(--title-decor-color);
  background-color: var(--title-decor-bc-color);
}

.list-title-decor {
    font-weight: 400;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--link-hover-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--link-focus-color);
}

/*------------------------header------------------------*/

.header {
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  display:grid;
  grid-template-rows: 1fr min-content 1fr;
}

.dark_header_decor {
  position: absolute;
  display: var(--decor_visible, flex);
  gap: 10px;
  justify-self: end;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FF0070;
  letter-spacing: 0;
  line-height: 25px;
  padding-right: 9px;
}

.dark_header_decor::after {
  width: 9px;
  height: 9px;
  display:block;
  content: "";
  align-self: center;
  box-shadow: 0 0 4px 4px #FF0070;
  border-radius: 50%;
  background-color: #FF0070;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;  
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  text-transform: lowercase;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--menu-color);
  letter-spacing: 0;
  line-height: 18px;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(var(--accent-color-rgba), 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color-tab);
}

.header__theme-menu-button_active {
   border: 1px solid var(--menu-color-focus);
   pointer-events: none;
}

.header_title {
  justify-self: start;
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  letter-spacing: 0;
  line-height: 82.5%;
  color: var(--header-tittle-color);
}

.header_description {
  justify-self: end;
  align-self: center;
}

/*-------------------------main-------------------------*/
.main {
  min-height: 668px;
  padding: 0px 10px 0px 10px;
  display: grid;
  gap: 49px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23.4px;
  color: var(--section-title-color);
}

.article_container {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  grid-template-rows: min-content;
  gap: 10px;
}

.aricle__text {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23.4px;
  color: var(--aricle-text-color);
}

.main__gallery {
  display: grid;
  gap: 10px;
}

.main_gallery_store {
  display: grid;
  gap: 10px;
}

.picture {
  width: 100%;
  height: 100%;
  
  object-fit: cover;
}

/*------------------------footer------------------------*/

.footer {
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  display:grid;
}

.footer__title {
  justify-self: center;
  align-self: center;
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  letter-spacing: 0;
  line-height: 82.5%;
  color: var(--footer-title-color);
}

/*-------------------------media-------------------------*/
@media (width >= 768px) {
  .page {
    gap: 60px;
  }
  .header {
    padding: 20px;
  }

  .header_title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_description {
    min-height: 117px;
    max-width: 364px;
  }

  .main {
    padding: 0px 20px 0px 20px;
    gap: 80px;
  }
  .main__section {
    grid-template-columns: 1fr 2fr;
  }

  .horizont {
    grid-column: span 2;
  }

  .main__gallery {
    gap: 20px;
  }

  .main_gallery_store {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .sunset {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .icecream {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .tape {
    grid-column: 1/2;
    grid-row: 2/5;
  }

  .books {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .street {
    grid-column: 2/4;
    grid-row: 3/5;
  }

  .footer {
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}
@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .header_description {
    min-height: 71px;
    max-width: 491px;
  }

  .main__section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .article_container {
    grid-column: 2/4;
  }

  .article_container.horizont {
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }
} 
